<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/_links.html' %}
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

</head>
<body>
        <div class="particles-content">
            <h1 class="ml-3 mt-3">Experience</h1>

            <div class="container" style="position: absolute;">
{#                <h1>Experience</h1>#}

                <div class="container mt-4 mb-5">
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div>
                            <h3>MBOU "SCHOOL #18"</h3>

                            <h5 style="color: slategrey">Novomoscovsk</h5>
                        </div>
                        <div>
                           <h5>Сентябрь 2019 -</h5>
                        </div>
                    </div>
                    <ul>
                      <li>Сдель должно быть официальное описание моих навыков, но я не успеваю доделать сайт</li>
                        <li>Я просто маленький программист, который смог</li>
                      <li>Дедлпйн близко</li>
                      <li>Спасибо мексиканцу,что помог починить загрузку титульника</li>
                    </ul>
                </div>

                <div class="container mb-5">
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div>
                        </div>
                        <div>
                           <h5></h5>
                        </div>
                    </div>
                    <ul>
                    </ul>
                </div>

                <div class="container mb-5">
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div>
                            <h3>Это я</h3>
                            <h5 style="color: slategrey">Ужас</h5>
                        </div>
                        <div>
                           <h5>--------</h5>
                        </div>
                    </div>
                    <ul>

                    </ul>
                </div>

                <div class="container">
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div>
                            <h3></h3>
                            <h5 style="color: slategrey"></h5>
                        </div>
                        <div>
                           <h5>ЛЕТо 2к145</h5>
                        </div>
                    </div>
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
        {% include 'includes/_footer.html' %}
    </div>


    <div id="particles-js"></div>

        <script>
            particlesJS.load("particles-js", "../static/particles/particles.json", function(){
                console.log('particles loaded');
            })
        </script>

</body>
{#{% include 'includes/_footer.html' %}#}
</html>