<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'includes/_links.html' %}
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <title>Дмитрий Шаталов (не используйте эту шкалу)</title>
</head>
<body>

    <div class="particles-content">

        <div class="col text-center" style="margin-top: 160px; position: absolute;
            margin-left: auto;  margin-right: auto; left: 0; right: 0;">
            <div class="card mx-auto text-center" style="width: 28rem; background-color: transparent;
                    border: 3px solid black; display: block">
                <div class="card-block">
                    <h3 class="card-title mx-auto" style="color: black; font-size: 52px">Dmitry Shatalov</h3>
                </div>
            </div>

            <p style="color: black; margin-top: 30px; font-size: 23px">
                Программист, который смог закончить сайт<br/>
            </p>

            <ul class="list-inline mt-5">
                <li class="list-inline-item">
                    <a class="link-test" href="https://github.com/H3X460N157"
                       style="background-image: url(../static/images/GitHub-Mark-64px.png)">
                        gIT
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="link-test" href="https://www.vk.com"
                       style="background-image: url(../static/images/linkedin-logo-button.svg)">
                        VK
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="link-test" href="https://www.vk.com"
                       style="background-image: url(../static/images/facebook-logo-button.svg)">
                        Vk
                    </a>
                </li>
            </ul>
        </div>
{#        {% include 'includes/_footer.html' %}#}
    </div>

    <div class="spacer"></div>

    {% include 'includes/_footer.html' %}

    <div id="particles-js"></div>


    <script>
        particlesJS.load("particles-js", "../static/particles/particles.json", function () {
            console.log('particles loaded');
        })
    </script>

</body>
{#{% include 'includes/_footer.html' %}#}

</html>