<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/_links.html' %}
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
</head>
<body>

        <div class="particles-content">
        {% include 'includes/_navbar.html' %}

        <h1 class="ml-3 mt-3">Projects</h1>

            <div class="container" style="position: absolute">
              <ul class="nav nav-tabs nav-fill justify-content-center mt-2">
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#all">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#science">Scientific</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ios">iOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ml">Machine Learning</a>
                </li>
              </ul>

              <div class="tab-content">
                <div id="all" class="tab-pane fade in show active">
                    <div class="row mt-4 mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/colorimetry_profile.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Colorimetry App</h1>
                            <h5>Swift, Firebase</h5>
                            <p>An imaging processing app developed to output and manipulate RGB values from
                            photos. Intended for quantifying chemical levels in colorimetric reactions. The
                            app features a data log that stores measurements along with temperature, humidity,
                            and gps coordinates. The log also interfaces with an online data center through Firebase.</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/shark_profile.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Shark Classifier</h1>
                            <h5>Python</h5>
                            <p>Convolutional neural network built to classify different species of sharks. Images were
                            collected through the use of the Flickr API. Many difficulties to be remedied due to lack
                            of data, unbalanced classes, and quality of data. Work in progress.</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/decision_maker.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Decision Maker!</h1>
                            <h5>Swift</h5>
                            <p>Simple app that helps users make decisions in their daily life. The app currently has
                            15,000 downloads in the app store and a 4.5/5 average review.</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/pong_x.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Pong-X</h1>
                            <h5>Swift</h5>
                            <p>Classic pong game app that features career, freeplay, and two-player modes. The app also
                            includes an online leaderboard system and achievements.</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/calculator.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Calculator <\></h1>
                            <h5>Swift</h5>
                            <p>Calculator app with custom gradient and photo themes. The app currently has 12,000
                            downloads in the app store and a 4.6/5 average review.</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/data_center.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>RGB Data Center</h1>
                            <h5>Python, Flask, Firebase, HTML, CSS</h5>
                            <p>Online data center built to interface with the Colorimetry app through Firebase.
                            The center stores colorimetric measurements made by different users. The data center also
                            utilizes the Tom-Tom Map API to set pins and relevant information of each measurement on a
                            world map.</p>
                        </div>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/ir_box.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Infrared Box</h1>
                            <h5>Python, Raspberry Pi</h5>
                            <p>Infrared imaging box built with as Raspberry Pi and NoIR infrared camera. The box was
                            built to take advantage of colorimetric reactions that have absorption peaks in the infrared.
                            In particular four LEDs at 850nm were used to image the molybdenum blue reaction and improve
                            phosphate qunatification sensitivity.</p>
                        </div>
                    </div>
                </div>
                <div id="science" class="tab-pane fade">
                  <div class="row mt-4 mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/colorimetry_profile.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Colorimetry App</h1>
                            <h5>Swift, Firebase</h5>
                            <p>An imaging processing app developed to output and manipulate RGB values from
                            photos. Intended for quantifying chemical levels in colorimetric reactions. The
                            app features a data log that stores measurements along with temperature, humidity,
                            and gps coordinates. The log also interfaces with an online data center through Firebase.</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/data_center.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>RGB Data Center</h1>
                            <h5>Python, Flask, Firebase, HTML, CSS</h5>
                            <p>Online data center built to interface with the Colorimetry app through Firebase.
                            The center stores colorimetric measurements made by different users. The data center also
                            utilizes the Tom-Tom Map API to set pins and relevant information of each measurement on a
                            world map.</p>
                        </div>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/ir_box.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Infrared Box</h1>
                            <h5>Python, Raspberry Pi</h5>
                            <p>Infrared imaging box built with as Raspberry Pi and NoIR infrared camera. The box was
                            built to take advantage of colorimetric reactions that have absorption peaks in the infrared.
                            In particular four LEDs at 850nm were used to image the molybdenum blue reaction and improve
                            phosphate qunatification sensitivity.</p>
                        </div>
                    </div>
                </div>
                <div id="ios" class="tab-pane fade">
                    <div class="row mt-4 mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/colorimetry_profile.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Colorimetry App</h1>
                            <h5>Swift, Firebase</h5>
                            <p>An imaging processing app developed to output and manipulate RGB values from
                            photos. Intended for quantifying chemical levels in colorimetric reactions. The
                            app features a data log that stores measurements along with temperature, humidity,
                            and gps coordinates. The log also interfaces with an online data center through Firebase.</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/decision_maker.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Decision Maker!</h1>
                            <h5>Swift</h5>
                            <p>Simple app that helps users make decisions in their daily life. The app currently has
                            15,000 downloads in the app store and a 4.5/5 average review.</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/pong_x.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Pong-X</h1>
                            <h5>Swift</h5>
                            <p>Classic pong game app that features career, freeplay, and two-player modes. The app also
                            includes an online leaderboard system and achievements. Will be released in the app store
                            soon!</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/calculator.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Calculator <\></h1>
                            <h5>Swift</h5>
                            <p>Calculator app with custom gradient and photo themes. The app currently has 12,000
                            downloads in the app store and a 4.6/5 average review.</p>
                        </div>
                    </div>
                </div>
                <div id="ml" class="tab-pane fade">
                  <div class="row mt-4 mb-4">
                        <div class="col col-lg-3">
                            <a href="#">
                                <img class="projects-img" src="../static/images/shark_profile.png">
                            </a>
                        </div>
                        <div class="col">
                            <h1>Shark Classifier</h1>
                            <h5>Python</h5>
                            <p>Convolutional neural network built to classify different species of sharks. Images were
                            collected through the use of the Flickr API. Many difficulties to be remedied due to lack
                            of data, unbalanced classes, and quality of data. Work in progress.</p>
                        </div>
                    </div>
                </div>
              </div>

            </div>

        </div>


        <div id="particles-js"></div>


    <script>
        particlesJS.load("particles-js", "../static/particles/particles.json", function(){
            console.log('particles loaded');
        })
    </script>

</body>
{#{% include 'includes/_footer.html' %}#}
</html>